# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache
.npm/

# Debug folders
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Coverage and test output
coverage/
.nyc_output/
jest-test-results.json

# Build output
dist/
build/

# Docker files
*.tgz
docker-compose.override.yml
